In [3]:
import re
import argparse
import os
import shutil
import time
import math
import pickle
import pdb
import pickle
import numpy as np
import pandas as pd

In [7]:
train = pd.read_csv('train.csv')
dev = pd.read_csv('test.csv')

In [26]:
dev.head()

,ex_id,labels,features
0,0,"3,4,52,260,518,992,1543",0:0.101468 1:0.554374 2:0.235760 3:0.065255 8:...
1,1,"531,682,685,687,688",0:0.050734 1:0.103945 2:0.330063 3:0.130509 4:...
2,2,"399,600,693,936,1231,1310",0:0.084556 1:0.866210 2:0.330063 3:0.326274 4:...
3,4,"317,532,651,681,682,686,726",0:0.084556 1:0.138594 2:0.141456 3:0.130509 4:...
4,5,"3,308,430,480,540,840",0:0.067645 1:0.242539 2:0.094304 3:0.065255 4:...